<link rel="stylesheet" href="~ / css / ByFonts.css" type="text / css">
<h1> На самолёте </h1>
<p class="Text">
    ByAirline - человечиская акционерная компания, работающая в сфере общественного транспорта под надзором Министерства транспорта с 2021 года.
</p>
<p class="Text">
    Это первая компания частного сектора, работающая в сфере общественного транспорта.
</p>
<p class="Text">
    ByAirline предоставляет технические решения, используя информационные и коммуникационные технологии для улучшения услуг по перевозке пассажиров, и работает над развитием их преимуществ для населения, чтобы упростить им жизнь.
</p>
<hr />
<img src="~/img/About/Airline.png" class="Image" />
<br />
<p class="TextMid">
    Наше видение
</p>
<p class="TextSamll">
    Наше видение - предоставить первоклассный сервис, который превосходит потребности и ожидания наших клиентов, чтобы стать самым простым и безопасным решением. Мы всегда стремимся стать ведущей компанией в сфере частных транспортных услуг, предоставляя комфорт и роскошь всем пользователям услуг ByAirline.
</p>
<br />
<p class="TextMid">
    Наша миссия
</p>
<p class="TextSamll">
    Наша миссия - предоставлять удобные и безопасные транспортные услуги, на которые наши клиенты могут рассчитывать как на подходящую альтернативу автомобилям и собачьим упряжкам. Поэтому мы следим за потребностями наших пассажиров для улучшения наших услуг. Наш принцип в ByAirline - комфорт и роскошь путешественников.
</p>
<hr />
<br />
<h1>
    По ценностям самолёты
</h1>
<table>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-stations.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Авиафилиалами
            </p>
            <p class="TextSamll">
                Наши 40 филиалов по миру обслуживают значительное количество пассажиров, добираясь до места назначения. Потому что мы первая частная компания, работающая в сфере перевозки пассажиров всеми способами более 20 лет. Мы всегда стремимся быть на переднем крае по качеству обслуживания самолётов и комфорту клиентов.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-payment.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Способы бронирования
            </p>
            <p class="TextSamll">
                Наши клиенты могут выбрать подходящий способ оплаты на нашем сайте или в мобильном приложении. Предпочитают ли они платить онлайн с помощью своих кредитных карт или наличными через автоматы Fawry, Aman, Masary и Bee.
            </p>
            <p class="TextSamll">
                Кроме того, наши клиенты могут заказать билеты на самолёт на нашем сайте.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-plane.png" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Авиамаршрутами
            </p>
            <p class="TextSamll">
                Мы работаем по 26 маршрутам по миру, доставляя пассажиров в самые густонаселенные города стран. Наши главные направления из Сеул - Чеджудо, Мельбурн - Сидней, Мумбаи - Дели, Фукуока - Токио, Рио-де-Жанейро - Сан-Паулу, Лос-Анджелес - Сан-Франциско, Дублин - Лондон.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-customer.png" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Обслуживание клиентов
            </p>
            <p class="TextSamll">
                На самолёте обслуживание клиентов также доступно 24 часа в сутки, чтобы наши клиенты могли получить наилучшее обслуживание.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-luxury.png" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Роскошь и безопасность
            </p>
            <p class="TextSamll">
                Мы заботимся о безопасности и роскоши наряду с уникальным сервисом. Мы оборудовали наши самолёты Wi-Fi. Все самолёты ByAirline оборудованы кондиционерами и удобными сиденьями.
            </p>
            <p class="TextSamll">
                Наш класс Aero Plane, запущенный под девизом «Роскошь самолета», имеет удобные и просторные сиденья, которые свободно перемещаются вместе с одеялом и подушкой, чтобы обеспечить расслабление и спокойный сон.
            </p>
            <p class="TextSamll">
                В нашем бизнес-классе есть сиденья для личного общения, чтобы обеспечить нашим клиентам отличную атмосферу для разговора. Мы предлагаем горячие напитки и свежие блюда во время поездки, чтобы наши клиенты получали лучшие роскошные услуги.
            </p>
            <p class="TextSamll">
                Наши классы Elite Plus и Elite Plus Plus имеют сенсорный экран для каждого места с множеством фильмов, игр и музыки. Вы также можете зарядить свой мобильный телефон прямо в кресле.
            </p>
        </td>
    </tr>
</table>
