@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bibibuo<br />
    Smart Cafe, Pipopy.<br />
    <abbr title="Phone">P:</abbr>
    8800 355 355
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@airline.com">support@airline.com</a><br />
    <strong>Githab:</strong> <a href="https://github.com/bronec">Bronec.githab</a>
</address>