<link rel="stylesheet" href="~/css/FAQStyle.css" type="text/css">
<p class="TextHeader">
    Часто задаваемые вопросы
</p>
<p class="TextSub">
    У вас есть вопросы по бронированию билетов на самолёт?
</p>
<hr />
<p class="TextDivision">
    Перед поездкой
</p>
<p class="TextQuestion">
    Я не получил свой билет. Можете ли вы отправить его повторно??
</p>
<p class="TextAnswer">
    Система автоматически повторно отправляет электронный билет, который не был успешно доставлен клиенту. Электронные билеты также можно найти во вкладке «Мои билеты», когда вы войдете в свою учетную запись.
</p>
<hr />
<p class="TextDivision">
    Во время поездки
</p>
<p class="TextQuestion">
    Предусматривает ли компания возмозность парулить самолётом?
</p>
<p class="TextAnswer">
    ByAirline соблюдает протоколы безопасности и стандарты безопасности под присмотром Министерства транспорта. Мы непредоставляем таких услуг.
</p>
<hr />
<p class="TextDivision">
    Общие вопросы
</p>
<p class="TextQuestion">
    Мне нужно зарегистрироваться, чтобы использовать ByAirline?
</p>
<p class="TextAnswer">
    Вы можете легко просматривать различные даты и время поездки, однако, чтобы забронировать билет, вам необходимо зарегистрироваться в ByAirline.
</p>
<p class="TextQuestion">
    Я ввел неправильный номер мобильного телефона при бронировании. Могу ли я получить свой билет на другой номер?
</p>
<p class="TextAnswer">
    После того, как вы ввели номер своего мобильного телефона при бронировании, его нельзя изменить для этой конкретной транзакции. Однако вы можете вернуть и изменить свой номер мобильного телефона для дальнейших транзакций. Чтобы сесть в самолёт, ваше имя должно совпадать с именем в электронном билете.
</p>
<p class="TextQuestion">
    Я потерял билет. Что мне теперь делать?
</p>
<p class="TextAnswer">
    Вы можете легко получить доступ к вкладке «Мои билеты» после входа на веб-сайт, чтобы просмотреть свою историю билетов. Вы можете использовать эту историю, чтобы просмотреть свой электронный билет и сесть в самолёт.
</p>
<p class="TextQuestion">
    Обязательно ли снимать распечатку билета?
</p>
<p class="TextAnswer">
    Нет, не обязательно брать распечатку билета, однако вам необходимо иметь копию билета с вашим именем на вашем устройстве или электронный билет, чтобы сесть в самолёт.
</p>
<p class="TextQuestion">
    Стоит ли мне бронирование онлайн дороже?
</p>
<p class="TextAnswer">
    Бронирование онлайн не будет стоить вам дороже, наоборот, это быстро и эффективно по времени.
</p>
